.Button {
    font-size: 40px;
    padding: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 210px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    opacity: 0.5;
    color: grey;

  }
  
  